<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bo Gradle</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script> $.ajax({
        type: "GET",
        url: "/valueTest",
        success: (data) => {
            console.log(data);
            $('#contents').html(data);
        }
    });
    </script>
</head>

<body>
<h1>Hello World!</h1>
<div id="contents"> </div>


<h1 th:text="#{content.id}">message.properties</h1>
<p th:text="#{content.name}"></p>


<h1 th:text="#{content.id}">helloWorks</h1>
<a th:href="@{'/thymeleafTest?id=33&id=44'}">link</a>
<!--
<a th:href="@{'/thymeleafTest' + 'id0=' + ${param.id[0]} +'id1=' + ${param.id[1]}}">link2</a>
-->


</body>

</html>